@tailwind base;
@tailwind components;
@tailwind utilities;

.subject-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Hide scrollbar design */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

/* Hide scrollbar track */
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide scrollbar thumb */
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.white-button {
  @apply bg-gray-200 hover:bg-gray-300 focus:bg-gray-300 text-gray-700 font-semibold py-2 px-4 mx-2 rounded-lg shadow-md;
}

.white-button-rounded {
  @apply bg-gray-200 hover:bg-gray-300 focus:bg-gray-300 text-gray-700 font-semibold py-2 px-4 mx-2 rounded-full shadow-md;
}

.red-button {
  @apply bg-red-800 hover:bg-red-600 focus:bg-red-600 text-white font-semibold py-2 px-4 mx-2 rounded-lg shadow-md;
}

.red-button-rounded {
  @apply bg-red-800 hover:bg-red-600 focus:bg-red-600 text-white font-semibold py-2 px-4 mx-2 rounded-full shadow-md;
}
.red-primary {
  @apply bg-red-100
}