@tailwind base;
@tailwind components;
@tailwind utilities;

.subject-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Hide scrollbar design */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

/* Hide scrollbar track */
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide scrollbar thumb */
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}